Audio/AudioDetect/__pycache__
Audio/AudioWeb/.vs
Audio/AudioWeb/AudioWeb/bin
Audio/AudioWeb/AudioWeb/obj
Audio/StreamCatcher/.vs
Audio/StreamCatcher/StreamCatcher/obj
Audio/StreamCatcher/StreamCatcher/bin
Defect/DefectDetect/__pycache__
Defect/DefectWeb/.vs
Defect/DefectWeb/DefectWeb/obj
Defect/DefectWeb/DefectWeb/bin
Defect/Example
