Audio/AudioDetect/__pycache__
Audio/AudioWeb/.vs
Audio/AudioWeb/AudioWeb/bin
Audio/AudioWeb/AudioWeb/obj
Audio/StreamCatcher/.vs
Audio/StreamCatcher/StreamCatcher/obj
Audio/StreamCatcher/StreamCatcher/bin
Defect/DefectDetect/__pycache__
Defect/DefectWeb/.vs
Defect/DefectWeb/DefectWeb/obj
Defect/DefectWeb/DefectWeb/bin
Defect/Example
FaceDetect/FaceDetectWeb/.vs
FaceDetect/FaceDetectWeb/FaceDetectWeb/obj
FaceDetect/FaceDetectWeb/FaceDetectWeb/bin
ObjectDetect/ObjectDetect/__pycache__
ObjectDetect/ObjectDetectWeb/.vs
ObjectDetect/ObjectDetectWeb/ObjectDetectWeb/obj
ObjectDetect/ObjectDetectWeb/ObjectDetectWeb/bin
ObjectDetect/ObjectDetect/yolov3.weights
ObjectDetect/ObjectDetectFileService/.vs
ObjectDetect/ObjectDetectFileService/ObjectDetectFileService/bin
ObjectDetect/ObjectDetectFileService/ObjectDetectFileService/obj
ObjectDetect/ObjectDetectMobile/.vs
ObjectDetect/ObjectDetectMobile/ObjectDetectMobile/.vs
ObjectDetect/ObjectDetectMobile/ObjectDetectMobile/bin
ObjectDetect/ObjectDetectMobile/ObjectDetectMobile/obj
