@page
@model IndexModel
@{
    ViewData["Title"] = "Список треков";
}

<div class="text-center">
    <table>
        <tr><th>Id</th><th>Name</th></tr>
        @foreach (var track in Model.TrackNames)
        {
            <tr>
                <td>@track.Id</td>
                <td>@track.Name</td>
                <td>
                    <form method="post">
                        <input type="text" name="trackId" value="@track.Id" style="display:none"/>
                        <input type="submit" value="Анализировать" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
